# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
AWSFinOps

# Test binary
*.test

# Go build / coverage
*.out
*.prof
vendor/

# Environment secrets
.env

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# OS
.DS_Store
.Spotlight-V100
.Trashes
/reports

*.json
*.csv
*.log
*.txt
*.pdf